body{
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
 }

.game-header{      
        margin: 35px 35px 75px 35px; 
        font-size: 20px;

}

#view-high-scores{
    text-align: left;
    color: violet;
    display: inline;
    cursor: pointer;
}

#view-high-scores:hover{
    font-weight: bold;
}

#timer {
    text-align: right;
    float: right;
    display: block;    
}

.game-body{
    padding: 0;
    margin-left: 25%;
    justify-content:center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#start-screen{
    text-align: center;
    margin-right: 15%;
}

#start-button{
    width: auto;
    justify-content: center;
}

#answer-buttons{
    text-align: left;
    align-items: center;
}

#answer-response{
    margin-top: 30px;
    text-align: centre;
    border-top: 2px solid rgb(56, 56, 56);
    padding: 10px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}

.hide{
    display: none;
}

.game-button{
    width: 200px;
    height: 40px;
    text-align: left;
    background-color: rgb(69, 9, 146);
    color: grey;
    display: block;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
}

.game-button:hover{
    box-shadow: 2px 2px 5px rgb(138, 57, 243);
    color: whitesmoke;
    cursor: pointer;
}

.small-game-button{
    display: inline;
    width: auto;
    height:auto;
    padding: 3px;
    margin: 0;
    margin-left: 5px;
}

#get-name{
    width: 100px;
}
.header-text{
    font-size: 26px;
    font-weight: bold;
    text-align: left;    
}
#start-screen .header-text{
    text-align: center;
}
.centre-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 550px) {
    .game-header{      
        margin: 35px 35px 75px 35px; 
        font-size: 16px;
    }
    .header-text{
        font-size: 20px;
        text-align: center;
    }
    #game-screen .header-text{
        text-align: left;
    }
    .game-button{
        width: 160px;
        height: 25px;
        text-align: left;
        justify-items: center;
        background-color: rgb(69, 9, 146);
        color: grey;
        display: block;
        padding: 10px;
        margin: 10px;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 12px;
    }
    .small-game-button{
        display: block;
        width: auto;  
    }

    }
    #results-screen .header-text{
        text-align: center;
    }
    #submit-button{
        
        display: flex;
        justify-content: center;
    }
    #scores-screen{
        text-align: center;
    }
    
  }